body{
margin:0px;
padding:0px;
background-color:lightgreen;
}
h1{
color:red;
align:center;

}
#bodycontainer{
width:1200px;
height:800px;
}
#leftColumn{
width:250px;
height:800px;
float:left;
background-image:linear-gradient(-50deg,floralwhite,yellow,green);
border-color:black;
border-style:solid;
}
ul{
color:black;
padding:30px;
}
ul li{
padding:20px;
background:#cce5ff;
margin:5px;

}

#rightColumn{
width:950px;
height:800px;
float:right;
background-image:url("cp.jpg");
background-size:cover;
border-color:black;
border-style:solid;
padding-left:10px;
}


footer{
background-color:green;
color:#fff;
font-size:14px;

padding-top:0px;
height:150px;
width:1200px;
}


