
body{
margin:0px;
padding:0px;

}
.navbar-header{
overflow:hidden;
width:1146px;
}
h1{
color:red;

}

#container{
background-color:black;
width:1200px;
height:900px;

}
header{
background-color:black;
margin:30px;
padding:30px;
float:right;

height:90px;

}
#main{
padding:30px;
margin-top:0px;

width:1200px;
}

#column1{
background-image:url("cover.jpg") ;
float:right;
height:700px;
width: 700px;

margin-top:0px;
padding-top:10px;
background-size:cover;
margin-right:90px;
padding-right:30px;
}
#sidebar{
background-color:black;
height:900px;
width:200px;
color:rgb(255,99,7);
font-size:15px;
font-style:sans-seriff;
margin-right:500px;

}

footer{
background-color:gray;
padding-bottom:70px;
margin-right:500px;
height:80px;
width:1200px;
padding-right:0px;
font-color:white;
}